<footer class="container">
    <div class="row">
    <div class="col-lg-4 text-center">
        <h4>Links</h4>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <h4>Address</h4>
        <p>Hare Krishna Land, Juhu</p>
    </div>
    <div class="col-lg-4 text-center">
        <h4>Social</h4>
        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-facebook-official" style="font-size:36px"></i></a></li>
                <li><a href="https://twitter.com/iamvitesh"><i class="fa fa-twitter-square" style="font-size:36px"></i></a></li>
                <li><a href="https://www.linkedin.com/in/viteshsingh/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square" style="font-size:36px"></i></a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="text-center">&copy; Copyright 2020 Govinda</div>
</footer>
